.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.local
node_modules
.next
public
AGENTS.md
CLAUDE.md
README.md
eslint.config.mjs
next.config.ts
package-lock.json
package.json
postcss.config.mjs
src/app/favicon.ico
src/app/globals.css
src/app/layout.tsx
src/app/page.tsx
tscofig.json